.delete-btn:hover {
  background-color: black;
  border-radius: 50%;
}
.delete-btn {
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 30px;
  margin-bottom: 10px;
}

.notes-btn {
  position: absolute;
  bottom: 0;
  left: 49;
  margin-bottom: 10px;
}

.favorites-title {
  text-align: center;
  color: rgb(250, 250, 250);
}

.add-notes-form{
  position: absolute;
  top: 75%;

}
.notes{
  position: absolute;
  top: 65%;
}

.favorites-card {
  width: 250px;
  opacity: 90%;
  height: 525px;
  border: 0.25rem solid hsl(360, 71%, 66%);
}
