.footer {
  margin-top: 0;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  bottom: 0;
  left: 0;
  height: 240px;
  width: 100%;
  text-align: center;
}

.info_list {
  text-align: left;
}

.Business_hours {
  
  font-weight: bold;
  font-size: 22px;
}
.slogan {
  text-align: right;
  margin-top: 1rem;
}
