body {
  background-color: black;
}

.card {
  width: 250px;
  opacity: 90%;
}

.navbar {
  background-color: black;
  opacity: 55%;
  /* height: 100px; */
  /* display: flex; */
  justify-content: center;
  /* font-weight: 100px; */
  position: relative;
}

.rnd-btn {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 10px;
  background-image: url(./images/cafe_logo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.delete-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

a:link {
  font-size: 1.2em;

  cursor: pointer;
}

.map {
  height: 500px;
  width: 100%;
}
